html {
  background-color: white;
}

#logo {
        float: left;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        color: white;
        height: 46px;
        width: 36px;
        padding-left: 2px;
        padding-top: 18px;
        border-style: solid;
        border-width: 3px;
        border-color: white;
        border-radius: 1em;
        margin: 6px;
}

header {
  padding-top: 1px;
  height: 80px;
  background-color: rgb(0, 170, 170);
}

body{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:100px;
    margin-right:100px;
    background-color: rgb(0, 203, 162);
}

.logIn {
  margin-left: 36em;
  float: right;
}

.icon {
  display: inline-block;
}

h1 {
  display: inline-block;
}

nav {
  display: inline-block;
 }

nav ul li {
  display: inline-block;
}


h1 {
   border-style: solid;
  }

#line header {
  color: white;
 }
