html {
  background-color: white;
}

body{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:100px;
    margin-right:100px;
    /*background-color: rgb(0, 203, 162);*/
}

#logo {
        float: left;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        color: white;
        height: 46px;
        width: 36px;
        padding-left: 2px;
        padding-top: 13px;
        border-style: solid;
        border-width: 3px;
        border-color: white;
        border-radius: 1em;
        margin: 6px;
}

header {
  /*padding-top: 1px;*/
  height: 80px;
  background-color: rgb(0, 170, 170);
  font-size: 25px;
  cursor: pointer;
  color: rgb(255, 214, 0);
  border-radius: 10px;
}

#titleWrap {
  padding-top: 2em;
  margin-right: 1em;
}
.optionWrap {
  margin-left: 2em;
}
.optionTabs {
  height: 70px;
  width: 120px;
  border: 2px solid black;
  text-align: center;
}
ol {
  margin-top: 5%;
  color: black;
}

.logIn {
  float: right;
  margin-right: 1em;
}

.icon {
  display: inline-block;
}

h1 {
  display: inline-block;
  border-style: solid;
}

nav {
  width: 100%;
 }

ul li {
  display: inline-block;

}

#line header {
  color: white;
 }
